<div class="page-header">
  <h4>{{get-resource key='applicationName'}} <small class="pull-right">{{config.currentNetwork.description}}</small></h4>
</div>
<div class="row">
  <div class="col-sm-12">
    {{select-menu items=model.networks title="Network" value=config.currentNetworkKey valueField="key"
    textField="description" onChange="onChangeNetwork"}}
    {{select-menu items=model.languages title="Language" value=config.currentLanguageKey valueField="value"
    textField="text" onChange="onChangeLanguage" class="pull-right"}}
  </div>
</div>
<div class="row">&nbsp;</div>
{{#if selectedWallet}}
<div class="row">
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title">{{get-resource key='cs.wallet'}}</div>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.walletAddress'}}</label>
            {{input type="text" class="form-control" value=selectedWallet.address disabled=true}}
          </div>
          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.balance'}}</label>
            <div class="input-group">
              {{input type="text" class="form-control text-right" value=balance disabled="true"}}
              <span class="input-group-addon">
                {{config.currentNetwork.symbol}}
              </span>
              <div class="input-group-btn">
                <button class="btn btn-success" type="button" {{action "loadBalanceInfo"}}>
                  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="btn-group">
            <button class="btn btn-sm btn-danger" {{action "removeWalletInfo"}}>{{get-resource key='cs.changeWallet'}}</button>
          </div>
        </form>
      </div>
    </div>

    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">{{get-resource key='cs.transfer'}}</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.targetWalletAddress'}}</label>
            {{input type="text" class="form-control" value=targetWalletAddress}}
          </div>
          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.amountToSend'}}</label>

            <div class="input-group">
              {{input type="number" class="form-control text-right" value=amountToSend min=1}}
              <span class="input-group-addon">
                {{config.currentNetwork.symbol}}
              </span>
              <div class="input-group-btn">
                <button class="btn btn-success{{if sendToWalletIsDisabled " disabled" ""}}" type="button"
                  {{action "sendToWallet"}}>
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
              </div>

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        <h3 class="panel-title">{{get-resource key='cs.coldStaking'}}</h3>
      </div>
      <div class="panel-body">
        <form>
          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.contractAddress'}}</label>
            {{input type="text" class="form-control" value=contractAddress disabled=true}}
          </div>

          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.amount'}}</label>
            <div class="input-group">
              {{input type="number" class="form-control text-right" value=amount min=1}}
              <span class="input-group-addon">
                {{config.currentNetwork.symbol}}
              </span>
              <div class="input-group-btn">
                <button class="btn btn-success{{if sendToCsContractIsDisabled " disabled" ""}}" type="button"
                  {{action "sendToCsContract"}}>
                  <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.stakeAmount'}}</label>

            <div class="input-group">
              {{input type="text" class="form-control text-right" value=stakeAmount disabled=true}}
              <span class="input-group-addon">
                {{config.currentNetwork.symbol}}
              </span>
              <div class="input-group-btn">
                <button class="btn btn-success" type="button" {{action "loadStakingInfo"}}>
                  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.currentRewards'}}</label>

            <div class="input-group">
              {{input type="text" class="form-control text-right" value=currentRewards disabled=true}}
              <span class="input-group-addon">
                {{config.currentNetwork.symbol}}
              </span>
              <div class="input-group-btn">
                <button class="btn btn-success" type="button" {{action "loadStakingInfo"}}>
                  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label">{{get-resource key='cs.stakeTime'}}</label>
            {{input type="text" class="form-control" value=stakeTime disabled=true}}
          </div>
          <div class="col-sm-12 btn-group">
            <button class="btn btn-sm btn-success col-sm-6 {{if withdrawIsDisabled "disabled" ""}}"
              {{action "withdrawStake"}}>
              <div>{{get-resource key='cs.withdrawStake'}}</div>
              <span class="badge">{{allCoins}}</span>
            </button>
            <button class="btn btn-sm btn-success  col-sm-6 {{if withdrawIsDisabled "disabled" ""}}"
              {{action "withdrawClaim"}}>
              <div>{{get-resource key='cs.withdrawClaim'}}</div>
              <span class="badge">{{currentRewardsFormatted}}</span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{else}}
<div class="row">
  <div class="col-sm-6">
    <div class="panel with-nav-tabs panel-success">
      <div class="panel-heading">
        <h4 class="col-sm-12">{{get-resource key='cs.questionForWalletAccessType'}}</h4>
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1default" data-toggle="tab">{{get-resource key='cs.keyStoreFile'}}</a></li>
          <li><a href="#tab2default" data-toggle="tab">{{get-resource key='cs.privateKey'}}</a></li>
          <li><a href="#tabWalletAddress" data-toggle="tab">{{get-resource key='cs.walletAddress'}}</a></li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="tab1default">

            <div class="form-group">
              <label class="control-label">{{get-resource key='cs.keyStoreFile'}}</label>
              {{input-file fileChanged="selectKeyStoreFile" class="form-control"
              titleResourceKey='cs.selectKeyStoreFile'}}
            </div>
            <div class="form-group">
              <label class="control-label">{{get-resource key='cs.password'}}</label>
              {{input type="password" class="form-control" value=password autocomplete="off"}}
            </div>
            {{button-default buttonKey="cs.loadWallet" action="loginWithKeyStore"}}
          </div>
          <div class="tab-pane fade" id="tab2default">
            <div class="form-group">
              <label class="control-label">{{get-resource key='cs.privateKey'}}</label>
              {{input type="password" class="form-control" value=privateKey autocomplete="off"}}
            </div>

            {{button-default buttonKey="cs.loadWallet" action="loginWithPrivateKey"}}

            <hr class="hidee" />
            <div class="row pointer hidee">
              <div class="col-sm-12">
                <u>
                  <i {{action "privateKeyForTest"}} style="cursor:pointer">
                    <a href="#">
                      {{get-resource key='cs.privateKeyForTest'}}
                    </a>
                  </i>
                </u>
              </div>
            </div>
          </div>
          
          <div class="tab-pane fade" id="tabWalletAddress">
            <div class="form-group">
              <label class="control-label">{{get-resource key='cs.walletAddress'}}</label>
              {{input type="text" class="form-control" value=walletAddress autocomplete="off"}}
            </div>

            {{button-default buttonKey="cs.loadWallet" action="loginWithWalletAddress"}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-success">
      <div class="panel-heading">
        {{get-resource key='createNewWallet'}}
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label">{{get-resource key='cs.walletAddress'}}</label>
          {{input type="text" class="form-control" value=selectedWallet.address disabled=true}}
        </div>
      </div>
    </div>
  </div>
</div>
{{/if}}

<div class="row">
  <div class="col-sm-12">
    <span class="pull-right">This is an open source project. <a href="https://zahirsolak.github.com/zehirwallet">github.com</a>
    </span>
  </div>
</div>